<!--Assesstment-->
<!--Items have varying tax rates and some are free or offered at a discount when ordered with another item. The customer is made aware of the combos or discounts based on the products he/she selects. Tax is applied on the product, Discount on the actual item price and then the bill amount is summed up.-->
<!--Discounts /Free offers are provided as single items or as combos. Discounts/Free offers cannot overlap/be combined.-->
<!--For example if bread and Coffee have a discount of x% and if bread and juice have y%, if a customer buys bread, coffee, and juice either a discount of a OR b would be allowed, not a+b.-->

<!--The customer is made aware of the order total and once he pays for it, he can wait until notified of the order completion. Printing the bill with a message “your order will be ready soon” will be enough-->

<p>
  <mat-toolbar color="primary">
    <span>Menu</span>
  </mat-toolbar>
</p>
<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile
      *ngFor="let product of products; let i = index"
      [colspan]="product.cols"
      [rowspan]="product.rows">
    <!--Card can be extracted as a dinamic component-->
    <mat-card style="width:300px; height:200px;" (click)="pickItem(i)">
      <mat-card-content>Product: {{product.name}}</mat-card-content>
      <mat-card-content>Price: {{product.price}}</mat-card-content>
      <mat-card-content>Discount: {{product.discount}}%</mat-card-content>
      <mat-card-content>Tax: {{product.tax}}%</mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Basket</span>
      <span style="flex: 1 1 auto;"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<p *ngIf="true">
  <mat-toolbar color="warn">
    <span>Sandwich get a free te with ur sandwich</span>
  </mat-toolbar>
</p>

<div style="display: flex;
    justify-content: center;">
  <button mat-raised-button color="warn" [disabled]="enablePay()" (click)="openSnackBar('Your order will be ready soon', getAmount())">Pay for the order</button>
</div>

<div *ngIf="!loading">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile
        *ngFor="let product of getItems(); let i = index"
        [colspan]="product.cols"
        [rowspan]="product.rows">
      <!--Card can be extracted as a dinamic component-->
      <mat-card style="width:300px; height:200px;" (click)="pickItem(i)">
        <mat-card-content>Product: {{product.name}}</mat-card-content>
        <mat-card-content>Price: {{product.price}}</mat-card-content>
        <mat-card-content>Discount: {{product.discount}}%</mat-card-content>
        <mat-card-content>Tax: {{product.tax}}%</mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>



<router-outlet></router-outlet>
